node_modules/
dist/
.tsup/
coverage/
/packages/nuqs/reports/
.env
yarn-error.log
# Docker containers with persistance
.volumes/
package-lock.json
.next/
.turbo/
.vercel
*.tsbuildinfo
.worktrees/
.pi/
.pi-subagents/