name: "Analyse Next.js release"
run-name: "Analyse Next.js ${{ inputs.version }}"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Next.js version to test against"
        required: true
        type: string

env:
  FORCE_COLOR: 3 # Diplay chalk colors
  VERSION: ${{ inputs.version }}

jobs:
  analyse-release:
    runs-on: ubuntu-24.04-arm
    name: Check for relevant Next.js core changes
    steps:
      - name: Ensure input follows SemVer
        # Source: https://semver.org/#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string
        run: |
          node -e "
            const version = process.env.VERSION;
            const semverRegex = /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/;
            if (!semverRegex.test(version)) {
              console.error(\`Error: Version '\${version}' does not follow SemVer format\`);
              process.exit(1);
            }
            console.log(\`Version '\${version}' is valid SemVer\`);
          "
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Check for changes in app router
        run: ./next-release-analyser.ts --version "${{ env.VERSION }}"
        working-directory: packages/scripts
        env:
          MAILPACE_API_TOKEN: ${{ secrets.MAILPACE_API_TOKEN }}
          EMAIL_ADDRESS_TO: ${{ secrets.EMAIL_ADDRESS_TO }}
          EMAIL_ADDRESS_FROM: ${{ secrets.EMAIL_ADDRESS_FROM }}
