name: 'Test against Next.js release'
run-name: 'Test against Next.js ${{ inputs.version }}'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Next.js version to test against'
        required: true
        type: string

env:
  FORCE_COLOR: 3 # Diplay chalk colors

jobs:
  test_against_nextjs_release:
    name: CI (${{ inputs.version }}${{ matrix.base-path && ' basePath' || ''}}${{ matrix.react-compiler && ' ⚛️⚡️' || ''}})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        base-path: [false, '/base']
        react-compiler: [true, false]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Install Next.js version ${{ inputs.version }}
        run: pnpm add --filter e2e --filter nuqs next@${{ inputs.version }}
      - name: Run integration tests
        run: pnpm run test
        env:
          BASE_PATH: ${{ matrix.base-path && matrix.base-path || '/' }}
          REACT_COMPILER: ${{ matrix.react-compiler }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
          E2E_NO_CACHE_ON_RERUN: ${{ github.run_attempt }}
      - name: Save Cypress artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
        if: failure()
        with:
          path: packages/e2e/cypress/screenshots
          name: ci-${{ inputs.version }}${{ matrix.base-path && '-basePath' || ''}}${{ matrix.react-compiler && '-react-compiler' || ''}}
      - uses: 47ng/actions-slack-notify@main
        name: Notify on Slack
        if: always()
        with:
          status: ${{ job.status }}
          jobName: next@${{ inputs.version }}${{ matrix.base-path && ' basePath' || ''}}${{ matrix.react-compiler && ' ⚛️⚡️' || ''}}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  invalidate-isr-cache:
    name: Invalidate ISR cache
    runs-on: ubuntu-latest
    needs: test_against_nextjs_release
    if: ${{ always() }}
    steps:
      - name: Invalidate ISR cache for GitHub Actions status on landing page
        run: curl -s "https://nuqs.47ng.com/api/isr?tag=github-actions-status&token=${{ secrets.ISR_TOKEN }}"
